<div class="container">
  @for (row of [7, 6, 5, 4, 3, 2, 1, 0]; track row) {
    @for (col of [0, 1, 2, 3, 4, 5, 6, 7]; track col) {
      <div
        class="field"
        [class.light]="(row + col) % 2 === 1"
        [class.dark]="(row + col) % 2 === 0"
        (click)="selectField(row, col)"
      >
        @if (getPiece(row, col); as piece) {
          <fa-icon
            [icon]="getIcon(piece)"
            [border]="false"
            class="piece"
            [class.white]="piece.color === 'white'"
            [class.black]="piece.color === 'black'"
            [class.selected]="piece === activePiece()"
          ></fa-icon>
        }
      </div>
    }
  }
</div>
